<!DOCTYPE html>

<title>Edit Mat</title>

{% block body %}
    <h1>Edit Mat</h1>

    {{ include('mat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mat_index') }}">back to list</a>

    {{ include('mat/_delete_form.html.twig') }}
{% endblock %}
