{% extends 'baseback.html.twig' %}
{% block Container %}
    <h1>Create new Joueur</h1>

    
    

   

      {{ include('joueur/_form.html.twig') }}

      <form>
       <a href="{{ path('app_joueur_index') }}" class="btn btn-outline-warning">back to list</a>
      </form>
       
     


{% endblock %}
