<!DOCTYPE html>

<title>New Matchs</title>

{% block body %}
    <h1>Create new Matchs</h1>

    {{ include('mm/_form.html.twig') }}

    <a href="{{ path('app_mm_index') }}">back to list</a>
{% endblock %}
