{% extends 'baseback.html.twig' %}

{% block Container %}
    <h1>Edit Equipe</h1>

    {{ include('equipee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equipee_index') }}">back to list</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
